html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  height: 230px;
  max-width: 90vw;
}
img,
h1,
p {
  display: block;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
img,
h1,
hr {
  margin-top: 50px;
}
